<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="omni_drive_controller">
    <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <ros>
        <remapping>odom:=odom/unfiltered</remapping>
      </ros>
      <update_rate>30</update_rate>
      <command_topic>cmd_vel</command_topic>
      <odometry_topic>odom/unfiltered</odometry_topic>
      <odometry_frame>odom</odometry_frame>
      <odometry_rate>20.0</odometry_rate>
      <robot_base_frame>base_footprint</robot_base_frame>
      <odometry_source>0</odometry_source>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>false</publish_odom_tf>
      <publish_wheel_tf>false</publish_wheel_tf>

    </plugin>
  </gazebo>
  </xacro:macro>
</robot>